# Django settings
SECRET_KEY =

DEBUG = 

ALLOWED_HOSTS = 

# PostgreSQL settings

# DB's name. Example: 'postgres'
POSTGRESQL_NAME = 

# DB's username. Example: 'postgres'
POSTGRESQL_USER = 

# Username's password. Example: 'postgres'
POSTGRESQL_PASSWORD = 

# DB's host. Example: 'localhost'
POSTGRESQL_HOST = 

# DB's port. Example: '5432'
POSTGRESQL_PORT = 

# Auth settings

# Set to True = user's 'extra_data' is contained in JSONB field of PostgreSQL 
AUTH_JSONB = 

# GitHub's OAuth Client ID key
AUTH_GITHUB_KEY = 

# GitHub's OAuth Client secret key
AUTH_GITHUB_SECRET = 