# Django settings
SECRET_KEY =

DEBUG = 

ALLOWED_HOSTS = 

# PostgreSQL settings

# DB's name. Example: 'postgres'
PG_NAME = 

# DB's username. Example: 'postgres'
PG_USER = 

# Username's password. Example: 'postgres'
PG_PASSWORD = 

# DB's host. Example: 'localhost'
PG_HOST = 

# DB's port. Example: '5432'
PG_PORT = 

# Auth settings

# Set to True = user's 'extra_data' is contained in JSONB field of PostgreSQL 
AUTH_JSONB = 

# GitHub's OAuth Client ID key
AUTH_GITHUB_KEY = 

# GitHub's OAuth Client secret key
AUTH_GITHUB_SECRET = 

# Celery settings

CELERY_BROKER_URL = 

CELERY_RESULT_BACKEND = 

# Magic numbers

THREAD_MAX_DEPTH = 

PHOTO_DELETION_COUNTDOWN = 

PHOTOS_PER_PAGE = 

COMMENTS_PER_PAGE = 

PHOTO_IMPORT_BATCH_SIZE = 

# Logging

LOG_FILE_PATH = 

LOGGING_ENABLED = 

# Global\default log level. 
# Used by handlers and by loggers if no specific log level provided to them
LOG_LEVEL = 

DAPHNE_LOG_LEVEL = 

DJANGO_LOG_LEVEL = 

DB_LOG_LEVEL = 

CHANNELS_LOG_LEVEL = 

# Email
DEFAULT_FROM_EMAIL = 

EMAIL_PORT = 

EMAIL_HOST = 

EMAIL_HOST_USER = 

EMAIL_HOST_PASSWORD = 

# Redis settings
REDIS_CACHE_URL = 

# Tokens
ACCESS_TOKEN_LIFETIME = 
