<div id="notificationWrapper" style="position: absolute; top: 60px; right: 0; z-index: 1050;">
    <div id="notificationContainer" aria-live="polite" aria-atomic="true" class="toast-container m-3" 
    style="position: sticky; top: 20px; right: 20px; z-index: 1050; float: right; margin: 20px;">
        <!--Standart admin permission alert-->
        <div id="permissionDenied" class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
            <div class="toast-header">
                <strong class="me-auto">PhotoApp</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body fs-5">
            </div>
        </div>
    </div>
</div>