<div class="modal fade" id="commentModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">Leave new comment</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form id="commentForm">
					<div class="modal-body">
							<input style="display: none;" id="photoInput" name="photo" value="" />
							<input style="display: none;" id="parentInput" name="parent" value="" />
							<div class="mb-3">
								<label for="text" class="col-form-label">Text:</label>
								<textarea name="text" class="form-control" id="textInput"></textarea>
							</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="commentModalSave">Save</button>
					</div>
				</form>
			</div>
		</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		commentModal = document.getElementById('commentModal');
		commentModal.addEventListener('show.bs.modal', function(event) {
			
			button = event.relatedTarget.closest('.comment-button');
			
			id = button.getAttribute('data-id');
			photo_id = button.getAttribute('data-photo-id');
			
			photoInput = document.getElementById('photoInput');
			parentInput = document.getElementById('parentInput');
			photoInput.setAttribute('value', photo_id);
			parentInput.setAttribute('value', id);
		});

		if (window.location.hash.indexOf('#commentModal') > -1){
			history.replaceState({}, document.title, window.location.href.split('#')[0]);
			$('.comment-button:first').trigger('click');
		}
	});
</script>