{% extends 'main_app/base.html' %}

{% block head %}
<title>Edit Photo | PhotoApp</title>
{% endblock %}

{% block body %}
<div class="m-3">
    <h1>Edit Photo</h1>

    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" value="Submit" class="btn btn-success my-3">Submit</button>
    </form>
</div>
{% endblock %}