{% load filters %}

<div class="container justify-content-center" style="display: flex;">
  <div class="input-group input-group-lg m-3" style="width: 800px;">
      <span class="input-group-text">🔎</span>
      <input id="searchBar" type="text" class="form-control" placeholder="Search posts by title, description or author" aria-label="Search">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sort posts
      </button>
      <ul class="dropdown-menu dropdown-menu-end" id="sortGroup">
        <li><a class="dropdown-item" id="sortLikesAsc" data-value="likes_count">⬆ by likes</a></li>
        <li><a class="dropdown-item" id="sortLikesDesc" data-value="-likes_count">⬇ by likes</a></li>
        <li><a class="dropdown-item" id="sortDateAsc" data-value="pub_date">⬆ by date</a></li>
        <li><a class="dropdown-item" id="sortDateDesc" data-value="-pub_date">⬇ by date</a></li>
        <li><a class="dropdown-item" id="sortCommentsAsc" data-value="comments_count">⬆ by comments</a></li>
        <li><a class="dropdown-item" id="sortCommentsDesc" data-value="-comments_count">⬇ by comments</a></li>
      </ul>
  </div>
</div>

<div class="container text-center" id="postsList">
    <div class="row row-cols-auto justify-content-center">

    {% for ph in photos %} 
      <div class="col m-2">
        <div class="card shadow-sm" title="{{ph.description}}" id="{{ph.id}}">
          <div class="card-body bg-body-tertiary">
            <img src="{{ph.img.url | get_thumbnail}}" alt="Post's image">
          </div>
          
          <div class="card-text">
            <p><strong>{{ph.title}}</strong><br>
              by {{ph.user.username}}<br>
              {% if user.is_authenticated and ph|is_liked:user %}
                <span class="btn badge rounded-pill text-bg-danger like-button">{{ph.likes_count}}❤</span>
              {% else %}
                <span class="btn badge rounded-pill text-bg-light like-button">{{ph.likes_count}}❤</span>
              {% endif %}
              <span class="btn badge rounded-pill text-bg-light comment-button">{{ph.comments_count}}🗨️</span>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
  </div>