
<div class="container justify-content-center d-flex">
  <div class="input-group input-group-lg m-3" style="width: 50vw;">
      <span class="input-group-text">🔎</span>
      <input id="searchBar" type="text" class="form-control" placeholder="Search posts by title, description or author" aria-label="Search">
      <select class="form-select" aria-label="Sort posts" aria-expanded="false" id="sortGroup" style="max-width: 14vw;">
        <option selected value="">Default Sorting</option>
        <option value="likes_count">⬆ by likes</option>
        <option value="-likes_count">⬇ by likes</option>
        <option value="pub_date">⬆ by date</option>
        <option value="-pub_date">⬇ by date</option>
        <option value="comments_count">⬆ by comments</option>
        <option value="-comments_count">⬇ by comments</option>
      </select>
  </div>
</div>

{% include 'main_app/pagination.html' %}

<div class="container text-center" id="postsList">
  <div class="row row-cols-auto justify-content-center">

  {% for ph in photos_page %}
    <div class="col m-2">
      <div class="card" title="{{ph.description}}" id="{{ph.id}}">
        <div style="transform: rotate(0);">
          <a href="{% url 'main_app:view_photo' ph.id %}" class="stretched-link"></a>
          <div class="card-body bg-body-tertiary">
            <img src="{{ph.img_thumbnail.url}}" alt="Post's image">
          </div>
          <div class="card-text">
            <p><strong>{{ph.title}}</strong><br>
              by {{ph.user.username}}<br>
            </p>
          </div>
        </div>
        <div class="card-footer">
          {% if user.is_authenticated and ph.is_liked %}
            <button class="btn badge rounded-pill text-bg-danger like-button" data-photo-id="{{ph.id}}">{{ph.likes_count}} ❤</button>
          {% else %}
            <button class="btn badge rounded-pill text-bg-primary like-button" data-photo-id="{{ph.id}}">{{ph.likes_count}} ❤</button>
          {% endif %}
          <a href="{% url 'main_app:view_photo' ph.id %}#commentModal" class="btn badge rounded-pill text-bg-primary comment-button" role="button" data-photo-id="{{ph.id}}">{{ph.comments_count}} 🗨️</a>
        </div>
      </div>
    </div>
  {% endfor %}

  </div>
</div>
