<div aria-live="polite" aria-atomic="true" class="toast-container m-3" style="position: sticky; bottom: 0px; float: right;">
    <div id="adminPermissionDenied" class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
            <strong class="me-auto">PhotoApp</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body fs-5">
        </div>
    </div>
</div>
<script>
    likeButtons = document.getElementsByClassName('like-button');
    likeButtonsArray = [...likeButtons];

    likeButtonsArray.forEach((elem) => {
        elem.addEventListener('click', function(event){
            likeAJAX(elem)
        }
        );
    })

    function likeAJAX(elem){
        photo_id = elem.getAttribute('data-photo-id')
        if (elem.classList.contains('text-bg-primary')){
            createLikeAJAX(elem, photo_id);
        }
        else if(elem.classList.contains('text-bg-danger')){
            removeLikeAJAX(elem, photo_id);
        }
    }

    function createLikeAJAX(elem, photo_id){
        $.ajax({
                url:'/create_like/',
                type:'POST',
                data:{
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'photo_id':photo_id
                },
                success: function(response){
                    console.log('SERVER RESPONDED:', response);
                    elem.classList.remove('text-bg-primary');
                    elem.classList.add('text-bg-danger');
                    numOfLikes = parseInt(elem.innerHTML.match(/(\d+)/)[0]);
                    numOfLikes++;
                    elem.innerHTML = '' + numOfLikes + ' ❤';
                },
                error: function(xhr){
                    console.error('ERROR. SERVER RESPONDED:', JSON.parse(xhr.responseText).error);
                    if (xhr.status === 403){
                        toast = $('#adminPermissionDenied')
                        $(toast).find(".toast-body:first").html(xhr.responseJSON.message)
                        $(toast).toast('show');
                    }
                }
            });
    }

    function removeLikeAJAX(elem, photo_id){
        $.ajax({
                url:'/remove_like/',
                type:'POST',
                data:{
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'photo_id':photo_id
                },
                success: function(response){
                    console.log('SERVER RESPONDED:', response);
                    elem.classList.remove('text-bg-danger');
                    elem.classList.add('text-bg-primary');
                    numOfLikes = parseInt(elem.innerHTML.match(/(\d+)/)[0]);
                    numOfLikes--;
                    elem.innerHTML = '' + numOfLikes + ' ❤';
                },
                error: function(xhr){
                    console.error('ERROR. SERVER RESPONDED:', JSON.parse(xhr.responseText).error);
                    if (xhr.status === 403){
                        toast = $('#adminPermissionDenied')
                        $(toast).find(".toast-body:first").html(xhr.responseJSON.message)
                        $(toast).toast('show');
                    }
                }
            });
    }

</script>