<script>
    params = new URLSearchParams(window.location.search);
    
    entry = params.get('entry');
    if (entry != null){
        searchBar = document.getElementById('searchBar');
        searchBar.value = entry;
    }

    order = params.get('order');
    if (order != null){
        sortGroup = document.getElementById('sortGroup');
        sortGroup.value = order;
    }

    
    function SwapPosts(photos){
        postsList = document.getElementById('postsList');
        htmlStr = '';
        photos.forEach(ph => {
            if (ph.is_liked){
                likes = `text-bg-danger`;
            }
            else{
                likes =`text-bg-light`
            }
            htmlStr +=`
            <div class="col m-2">
                <div class="card" title="${ph.description}" id="${ph.id}">
                    <div style="transform: rotate(0);">
                    <a href="/view_photo/${ph.id}" class="stretched-link"></a>
                    <div class="card-body bg-body-tertiary">
                        <img src="${ph.img_thumbnail}" alt="Post's image">
                    </div>
                    <div class="card-text">
                        <p><strong>${ph.title}</strong><br>
                        by ${ph.user}<br>
                        </p>
                    </div>
                    </div>
                    <div class="card-footer">
                    <span class="btn badge rounded-pill ${likes} like-button" data-photo-id="${ph.id}">${ph.likes_count} ❤</span>
                    <span class="btn badge rounded-pill text-bg-light comment-button" data-photo-id="${ph.id}">${ph.comments_count} 🗨️</span>
                    </div>
                </div>
            </div>`
        });
        htmlStr = `<div class="row row-cols-auto justify-content-center">` + htmlStr + `</div>`;
        postsList.innerHTML = htmlStr;
    }

    function CorrectPagination(response, order, entry, page_size){
        total_pages = response.total_pages;
        nav = document.getElementById('paginationControls');
        htmlStr = '<ul class="pagination pagination-lg justify-content-center">';
        if (response.has_previous){
            htmlStr += `
            <li class="page-item">
            <a class="page-link" href="?page=1&${params}">&laquo;</a>
            </li>`;
        }
        curr_page = response.current_page;
        for (i = 1; i <= total_pages; i++){
            if(i == curr_page){
                htmlStr+=`<li class="page-item active"><span class="page-link">${curr_page}</span></li>`;
            }
            else{
                if(i >= curr_page-2 && i <= curr_page+2){
                    htmlStr+=`<li class="page-item"><a class="page-link" href="?page=${i}&${params}">${i}</a></li>`;
                }
            }
        };
        if (response.has_next){
            htmlStr += `<li class="page-item"><a class="page-link" href="?page=${total_pages}&${params}">&raquo;</a></li>`;
        }
        htmlStr +=`</ul>`;
        nav.innerHTML = htmlStr;
    }
    
    function SetSpinner(){
        postsList = document.getElementById('postsList');
        postsList.innerHTML = `<div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span></div>`

    }

    function SearchSortAjax(event){
        SetSpinner();
        entry = document.getElementById('searchBar').value;
        order = document.getElementById('sortGroup').value;
        params = new URLSearchParams(window.location.search);
        per_page = params.get('per_page');
        data = {'order': order, 'entry': entry}
        if (per_page != null){
            data['per_page'] = per_page
        }
        $.ajax({
                url:'/',
                type:'GET',
                data:data,
                success: function(response){
                    console.log('SERVER RESPONDED:', response);
                    newURL = window.location.origin + window.location.pathname + "?" + response['params'];
                    history.replaceState(null, '', newURL);
                    photos = response['photos_page'];
                    SwapPosts(photos);
                    CorrectPagination(response, order, entry, per_page);
                },
                error: function(xhr){
                    console.error('ERROR. SERVER RESPONDED:', JSON.parse(xhr.responseText).error);
                }
            });
    }

    // event for searchBar
    document.getElementById('searchBar').addEventListener('keypress',
        function(event){
            if(event.key == 'Enter'){
                SearchSortAjax(event);
            }
        }
    );

    // event for select cluster
    document.getElementById('sortGroup').addEventListener('click',
        function(event){
            if (event.target.tagName == "OPTION"){
                SearchSortAjax(event);
            }
        }
    );
</script>