{% extends 'main_app/base.html' %}

{% block body %}

<div class="row row-cols-auto justify-content-center align-items-center">
    <div class="card m-5">
        <div class="card-title m-3 mb-0 fs-5">
            Reset Password.
        </div>
        <div class="card-body">
            <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

        </div>
    </div>
</div>

{% endblock %}