{% extends 'main_app/base.html' %}

{% block body %}

<div class="row row-cols-auto justify-content-center align-items-center">
    <div class="card m-5">
        <div class="card-title m-3 mb-0 fs-5">
            Reset Password.
            <div class="form-text">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</div>
        </div>
        <div class="card-body">
            <form method="post">{% csrf_token %}
              <fieldset class="module aligned mb-3">
                <div class="form-row field-email">
                  {{ form.email.errors }}
                  <div class="flex-container">
                    <label for="id_email" class="form-label fs-5">Email address:</label>
                    <input name="email" type="email" class="form-control" required>
                    <!-- {{ form.email }} -->
                  </div>
                </div>
              </fieldset>
              <div class="submit-row">
                <input type="submit" class="btn btn-primary m-1" value="Reset my password">
              </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}