{% extends 'main_app/base.html' %}
{% load i18n static %}

{% block body %}

<div class="row row-cols-auto justify-content-center align-items-center">
    <div class="card m-5">
        <div class="card-title m-3 mb-0 fs-5">
            Password reset confirmation.
            <div class="form-text">Please enter your new password twice so we can verify you typed it in correctly.</div>
        </div>
        <div class="card-body">
            {% if validlink %}

            <form method="post">{% csrf_token %}
            <fieldset class="module aligned mb-3">
                <input hidden autocomplete="username" value="{{ form.user.get_username }}">
                <div class="form-row field-password1">
                {{ form.new_password1.errors }}
                <div class="flex-container">
                    <label for="id_new_password1" class="form-label fs-5">{% translate 'New password:' %}</label>
                    <!-- {{ form.new_password1 }} -->
                    <input name="new_password1" type="password" class="form-control">
                </div>
                </div>
                <div class="form-row field-password2">
                {{ form.new_password2.errors }}
                <div class="flex-container">
                    <label for="id_new_password2" class="form-label fs-5">{% translate 'Confirm password:' %}</label>
                    <!-- {{ form.new_password2 }} -->
                    <input name="new_password2" type="password" class="form-control">
                </div>
                </div>
            </fieldset>
            <div class="submit-row">
                <input type="submit" class="btn btn-primary m-1" value="{% translate 'Change my password' %}">
            </div>
            </form>

            {% else %}

            <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}