{% extends "admin/base_site.html" %}

{% load i18n admin_urls %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=meta.app_label %}">{{ meta.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url meta|admin_urlname:'changelist' %}">{{ meta.verbose_name_plural|capfirst }}</a>
        &rsaquo; {{ photo }}
    </div>
{% endblock %}

{% block content_title %}
<h1>Moderate Photo #{{photo.id}}</h1> 
<ul style="margin: 3% auto 3%;">
<a class="button" href="{% url 'admin:approve' photo_id=photo.id %}">Approve</a>
<a class="button" href="{% url 'admin:deny' photo_id=photo.id %}">Deny</a>
</ul>

{% endblock %}

{% block content %}
    <div style="display: inline-flex;">   
        <table>
            <tr>
                <td><h1>Title</h1></td>
                <td><h1 class="card-title" style="word-break: break-all;">{{ photo.title }}</h1></td>
            </tr>
            <tr>
                <td><h1>Author</h1></td>
                <td><h1>{{ photo.user.username }}</h1></td>
            </tr>
            <tr>
                <td><h1>Description</h1></td>
                <td><h1>{{ photo.description }}</h1></td>
            </tr>
        </table>
    </div>
    <img src="{{ photo.img.url}}" class="mx-auto d-block" style="max-height: 70vh; max-width: 90vw;">

    <hr style="margin: 3%;">

    {% if versions %}
    <h1>Older Versions</h1>
    <table style="width: 100%; margin-bottom: 10px;">
        <thead>
        <tr>
            <td></td>
            <td>Title</td>
            <td>Description</td>
            <td>Iteration</td>
            <td>Created at</td>
        </tr>
        </thead>
        <tbody>
        {% for version in versions %}
            <tr>
                <td><img src="{{ version.img.url }}" style="max-height: 30vh; max-width: 50vw;"></td>
                <td>{{ version.title }}</td>
                <td>{{ version.description }}</td>
                <td>{{ version.iteration }}</td>
                <td>{{ version.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
