{% extends "admin/base_site.html" %}

{% load i18n admin_urls %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=meta.app_label %}">{{ meta.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url meta|admin_urlname:'changelist' %}">{{ meta.verbose_name_plural|capfirst }}</a>
        &rsaquo; {{ photo }}
    </div>
{% endblock %}

{% block content_title %}
<h1>Moderate Photo #{{photo.id}}</h1> 
<div style="margin-bottom: 3%;">
    <h1>Approve:</h1>
    <a class="button" style="padding: 15px;"
        href="{% url 'admin:approve' photo_id=photo.id %}">
            Confirm Approval
    </a>
    <form method="post">
        {% csrf_token %}
        <div style="margin-top: 20px;">
            <h1>Deny with commentary:</h1>
            <textarea id="commentary" name="commentary" rows="4" cols="25" required></textarea>
        </div>
        <div style="margin-top: 20px;">   
            <button type="submit" class="button" style="padding: 15px;"
            formaction="{% url 'admin:deny' photo_id=photo.id %}">
                Confirm Denial
            </button>
        </div>
    </form>
</div>
{% endblock %}

{% block content %}
    <div style="display: inline-flex;">   
        <table>
            <tr>
                <td><h1>Title</h1></td>
                <td><h1 class="card-title" style="word-break: break-all;">{{ photo.title }}</h1></td>
            </tr>
            <tr>
                <td><h1>Author</h1></td>
                <td><h1>{{ photo.user.username }}</h1></td>
            </tr>
            <tr>
                <td><h1>Description</h1></td>
                <td><h1>{{ photo.description }}</h1></td>
            </tr>
        </table>
    </div>
    <img src="{{ photo.img.url}}" class="mx-auto d-block" style="max-height: 70vh; max-width: 90vw;">

    <hr style="margin: 3%;">

    {% if versions %}
    <h1>Older Versions</h1>
    <table style="width: 100%; margin-bottom: 10px;">
        <thead>
        <tr>
            <td></td>
            <td>Iteration</td>
            <td>Title</td>
            <td>Description</td>
            <td>Review result</td>
            <td>Review commentary</td>
            <td>Created at</td>
        </tr>
        </thead>
        <tbody>
        {% for version in versions %}
            <tr>
                <td><img src="{{ version.img.url }}" style="max-height: 30vh; max-width: 50vw;"></td>
                <td>{{ version.iteration }}</td>
                <td>{{ version.title }}</td>
                <td>{{ version.description }}</td>
                {% for ticket in version.review_tickets.all%}
                    <td>{{ticket.result}}</td>
                    <td>
                        {% if ticket.result == photo.DENIED %}
                            {{ticket.commentary}}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    {% endfor %}
                <td>{{ version.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
